@use "../scss/abstracts/colors" as *;

.form {
  margin-top: 20px;
}
.inputs {
  display: flex;
  gap: 20px;
}
.addItem {
  background-color: $pink-light;
  border-radius: 10px;
  border-color: transparent;
  width: 400px;
  height: 43px;
  display: flex;
  color: $pink;
  align-items: center;
  outline: none;
  font-size: 25px;
  padding: 10px 15px;
}
.text {
  white-space: nowrap;
}
input::placeholder {
  color: $pink;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.btn-primary {
  background-color: $purple;
  border-color: transparent;
  border-radius: 30px;
  color: $purple-light;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 40px;
  width: 200px;
  height: 70px;
}
.small {
  width: 50px;
  height: 20px;
  font-size: 10px;
}
.add {
  width: 100px;
  height: 40px;
  border-radius: 15px;
  font-size: 25px;
  margin-top: 10px;
  margin-inline: 750px 0;
}

@media screen and (max-width: 768px) {
  header {
    gap: 15px;
  }
  .addItem {
    width: 300px;
    height: 39px;
  }
  input::placeholder {
    font-size: 25px;
  }
  .btn-primary {
    border-radius: 20px;
    font-size: 30px;
    width: 140px;
    height: 50px;
  }
  .add {
    width: 110px;
    border-radius: 20px;
    font-size: 30px;
    margin-top: 10px;
    margin-inline: 120px 0;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
