@use "../scss/abstracts/colors" as *;

.todo-item {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-top: 20px;

  background-color: $purple-light;
  color: $purple;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 850px;
  padding: 10px 15px;
  height: 49px;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  border-color: transparent;
}
.action-icons .material-icons {
  font-size: 20px;
  color: $purple;
}
.btn-icon {
  color: #865dff;
  background-color: transparent;
  outline: none;
  border-color: transparent;
  align-self: flex-end;
}
.material-icons {
  font-size: 60px;
}
.text {
  white-space: nowrap;
}
.moreInfo {
  width: 20px;
  bottom: 50px;
}
.moreInfo:hover {
  .mInfo {
    display: block;
  }
}
.mInfo {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  display: none;
}
.text {
  white-space: nowrap;
}
.info {
  font-family: "Inter", sans-serif;
  color: #999;
  font-weight: 600;
}
.todo-container {
  display: flex;
  gap: 2px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .todo-item {
    width: 320px;
    padding: 10px 15px;
    height: 39px;
    font-size: 10px;
  }
  .small {
    width: 50px;
    height: 20px;
    font-size: 10px;
  }
  .material-icons {
    font-size: 40px;
  }
}
